{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-3">
            <div class="card my-5 d-flex"
                 style="flex-direction: column; height: 450px; box-shadow: 0 0.313rem 0.938rem rgba(0, 0, 0, 0.6);">
                <form class="mx-auto px-3 my-2" action="{{ response.url }}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="token_ws" value="{{ response.token }}">
                    <input type="submit" value="Ejecutar Pago con Webpay">
                </form>
                <br>
                <div class="mx-auto px-3 my-2">
                    <a href="/">
                        <button class="btn btn-success mx-auto my-2 px-3">&laquo; Volver</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
