.row {
    margin-right: auto;
    margin-left: auto;
}

.dark-overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.carousel-caption {
    position: absolute;
    text-align: left;
    width: auto;
    max-width: 20%;
    transform: translateY(-50%) translateX(-20%);
}

.color_titulos {
    color: #e5e0dc;
    text-shadow: 2px 2px 2px black;
    font-size: 50px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.fondo_titulos {
    background-color: #212529;
}

.area_tot_prduc {

    width: 97%;
    background: white;
    margin: 10px 30px 10px 30px;
    display: flex;
    align-items: flex-end;

}


@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 500px;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 250px;
}

.card {
    background-color: #212529;
}