.dark-overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.carousel-caption {
    position: absolute;
    text-align: left;
    width: auto;
    max-width: 20%;
    transform: translateY(-50%) translateX(-20%);
}

.color_titulos {
    color: #e5e0dc;
    text-shadow: 2px 2px 2px black;
    font-size: 50px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.fondo_titulos {
    background-color: #212529;
}

.area_tot_prduc {

    width: 97%;
    background: white;
    margin: 10px 30px 10px 30px;
    display: flex;
    align-items: flex-end;

}

.area_listado {

    width: 25%;
    background-color: white;
}

.img_producto {

    width: 50%;
    background-color: white;
    margin-top: 10px;

}

