<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusicPro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/bc177a9f46.js" crossorigin="anonymous"></script>

    <!-- Import de css -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>
<body style="background-color:#494b5b;">

<!-- Barra de Navegacion -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fas fa-music"></i> MusicPro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/"><i class="fas fa-home"></i>  Inicio</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-guitar"></i> Instrumentos de Cuerda </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Guitarras</a></li>
                        <li><a class="dropdown-item" href="#">Bajos</a></li>
                        <li><a class="dropdown-item" href="#">Pianos</a></li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-drum"></i> Percusion </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Baterias Acusticas</a></li>
                        <li><a class="dropdown-item" href="#">Baterias Electronicas</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-sliders-h"></i> Amplificadores </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Cabezales</a></li>
                        <li><a class="dropdown-item" href="#">Cajas</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-icons"></i> Amplificadores </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Audifonos</a></li>
                        <li><a class="dropdown-item" href="#">Monitores</a></li>
                        <li><a class="dropdown-item" href="#">Parlantes</a></li>
                        <li><a class="dropdown-item" href="#">Cables</a></li>
                        <li><a class="dropdown-item" href="#">Microfonos</a></li>
                        <li><a class="dropdown-item" href="#">Interfaces</a></li>
                        <li><a class="dropdown-item" href="#">Mixers</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href=/producto/> Ver Todo</a>
                </li>

                <li class="nav-item" style="padding-left: 450px">
                    <a class="nav-link" aria-current="page" href="/"><i class="fas fa-shopping-cart"></i> Carrito de Compras</a>
                </li>

            </ul>
            <form class="d-flex">
                <input class="form-control me-2 type="search" placeholder="¿Que buscas?" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
</nav>


<div>
    <div class="container-fluid px-0 mx-0">
        <div id="content-wrap">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<!-- PONER INFORMACION EN EL FOOTER QUE CORRESPONDA -->
<!-- Footer -->
    <footer class="bg-dark text-center text-lg-start">
        <!-- Grid container -->
        <div class="d-flex py-4 px-16">
            <!--Grid row-->
            <div class="row justify-content-around w-100">
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-center text-uppercase text-white"><i class="fas fa-users"></i> Quienes somos</h5>
                    <p class="text-light text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad
                        adipisci
                        deleniti eius fugit hic, illo
                        ipsam, libero molestiae molestias quisquam quos rem, repellendus veritatis! Dolor, molestiae,
                        nostrum? Incidunt quae, reprehenderit!</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-center text-uppercase text-white"><i class="fas fa-id-card"></i> Informacion de contacto</h5>
                    <p class="text-light text-center">Contacanos en<br>+56969694207<br>Poblacion la poblacion</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-center text-uppercase text-white"> <i class="far fa-calendar-alt"></i> Horarios de atencion</h5>
                    <p class="text-light text-center">Abierto desde las tanto a las tanto</p>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-center text-uppercase text-white"><i class="fas fa-link " ></i> Redes</h5>
                    <p class="text-light text-center">
                        <i class="fab fa-facebook-square"></i> <a style="color: white" href="https://www.facebook.com/"> Facebook</a>
                        <br><i class="fab fa-twitter"></i> <a style="color: white" href="https://twitter.com/"> Twitter</a>
                        <br><i class="fab fa-instagram"></i><a style="color: white" href="https://www.instagram.com/"> Instagram</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>