<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MusicPro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
            crossorigin="anonymous"></script>

    <!-- Import de css -->
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

</head>
<body>

<!-- Barra de Navegacion -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">MusicPro</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Inicio</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Producto
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Instrumentos de cuerdas</a></li>
                        <li><a class="dropdown-item" href="#">Percusion</a></li>
                        <li><a class="dropdown-item" href="#">Amplificadores</a></li>
                        <li><a class="dropdown-item" href="#">Accesorios Varios</a></li>
                        <li><a class="dropdown-item" href="/producto/">Ver todos</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>


<div>
    <div class="container-fluid px-0 mx-0">
        <div id="content-wrap">
            {% block content %}
            {% endblock %}
        </div>
    </div>

</div>
    <!-- PONER INFORMACION EN EL FOOTER QUE CORRESPONDA -->
<!-- Footer -->
<footer class="bg-dark text-center text-lg-start">
    <!-- Grid container -->
    <div class="d-flex py-4 px-16">
        <!--Grid row-->
        <div class="row justify-content-around w-100">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-center text-uppercase text-white">Quienes somos</h5>
                <p class="text-light text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci deleniti eius fugit hic, illo
                    ipsam, libero molestiae molestias quisquam quos rem, repellendus veritatis! Dolor, molestiae,
                    nostrum? Incidunt quae, reprehenderit!</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-center text-uppercase text-white">Informacion de contacto</h5>
                <p class="text-light text-center">Contacanos en<br>+56969694207<br>Pregunte por doña juana</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-center text-uppercase text-white">Horarios de atencion<br>Yo abro cuando quiero el que tiene plata hace lo que quiere</h5>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-center text-uppercase text-white">Redes</h5>
                <p class="text-light text-center">las de narcotrafico</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>