<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wa me cai eri entero pollo wuajajja</title>
</head>
<body>
<h1>hoy me lanzo</h1>
<h6>no mentira ayuda no quiero caerme quedo la mea caga wuajaja</h6>
<p>wena cabros del facebook</p>
ANTES DE EJECUTAR LA WEA NO TENIAMOS QUE HACER LA BD?
Pregunta seria
thnx
Pero tenemos que hacer las tablas CHAN CHAN CHAN
que nefasto que paso amiguito se chingo la weá saludos desde santiasco
maty besame yapo uwu

no lo se rick, parece falso, pero buen tip
hola

ay chamfles
</body>
</html>