{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div style="margin: 1%">
        <div class="row justify-content-around">
            <div class="col-lg-3">
                <div class="card h-100">
                    <img src="{% static "/media/piano-media-cola.jpg" %}" class="card-img-top" alt="imagen">
                    <div class="card-body">
                        <h5 class="card-title text-light">Piano media cola</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100">
                    <img src="{% static "/media/bateria-acustica.jpg" %}" class="card-img-top" alt="imagen">
                    <div class="card-body">
                        <h5 class="card-title text-light">Bateria Acustica</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card h-100">
                    <img src="{% static "/media/mixer.jpg" %}" class="card-img-top" alt="imagen">
                    <div class="card-body">
                        <h5 class="card-title text-light">Mixer</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 1%">
        <div class="row justify-content-around">
            <div class="col-lg-3">
                <div class="card h-100">
                    <div class="card-body d-flex aligned-content-center align-items-center">
                        <h5 class="card-title text-light me-auto">Total: $1.955.000</h5>
                        <a href="{% url 'webpay' %}" class="btn btn-primary">PAGAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}